{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    ["import", { "libraryName": "antd", "style": "css" }],
    "transform-runtime",
    "transform-class-properties",
    "transform-decorators-legacy"
  ],
  "comments": false
}
